.container {
display: flex;
    align-items: baseline;
    gap:10px;
    padding-left: 50px;
    padding-right:100px;
    background-color: rgb(151, 151, 151);
    border-radius: 10px;
}
.text {
    color:white;
    cursor: pointer;
}
.input {
    width:200px;
    height: 20px;
    margin-left:auto;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
    outline: none;
}