.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: rgb(151, 151, 151);
    border-radius: 10px;
}

.contact {
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: baseline;
    align-items: center;
    border-radius: 10px;
    border: 1px solid gray;
    padding-left: 20px;
    padding-right: 20px;
    width: 90%;
}

.text {
 color:white;
}

.delete {
    margin-left:auto;
    border-radius: 10px;
    cursor: pointer;
    border:none;
    transition-duration: 0.5s;
    color:grey;
}

.delete:hover, .delete:focus {
    transform: scale(1.1);
   
}